In [101]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [102]:
df=pd.read_csv('user_post_data.csv')
df.rename(columns={'Unnamed: 0':'post_id'},inplace=True)
df.set_index('post_id',inplace=True)
df.fillna(0, inplace=True)

In [103]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
post_id,,,,,,,,,,,,,,,,,,,,,
1,2.0,3.0,4.0,2.0,3.0,0.0,0.0,0.0,0.0,4.0,...,5.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,3.0,3.0
2,0.0,0.0,0.0,0.0,1.0,2.0,5.0,0.0,0.0,4.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,3.0,2.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,3.0,0.0,2.0,1.0,4.0,0.0,0.0
4,4.0,1.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,1.0,0.0,5.0,0.0,4.0,1.0,0.0,0.0,0.0
5,0.0,4.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,3.0,...,1.0,1.0,3.0,4.0,4.0,1.0,0.0,4.0,2.0,0.0

In [104]:
print(f"No. of users {df.shape[1]}\nNo. of posts {df.shape[0]}")

No. of users 100
No. of posts 400

In [105]:
df_np = df.to_numpy()

In [106]:
df_np.shape

(400, 100)

In [107]:
row_avg = np.mean(df_np,axis=1)

In [108]:
print(f"avg rating for posts:")
row_avg[:10]

avg rating for posts:

array([1.75, 1.2 , 1.53, 1.33, 1.36, 1.54, 1.49, 1.82, 1.63, 1.8 ])

In [109]:
row_avg.shape

(400,)

In [110]:
mean_center_df = df_np-row_avg.reshape(-1,1)

In [111]:
mean_center_df.shape

(400, 100)

In [112]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim_mat = cosine_similarity(mean_center_df)

In [113]:
cosine_sim_data = pd.DataFrame(cosine_sim_mat)

In [114]:
cosine_sim_data.head()

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
0,1.000000,0.037349,-0.039793,-0.056714,-0.244614,-0.108397,-0.046870,0.182789,-0.048230,0.120499,...,0.080690,0.032400,-0.171328,-0.092995,0.084384,-0.012099,-0.026336,0.110979,0.006242,0.075277
1,0.037349,1.000000,-0.090269,0.022700,-0.096320,0.040278,-0.028874,0.023781,0.032715,0.026288,...,0.082768,0.030394,0.117633,-0.027096,-0.098243,-0.131157,0.027873,0.178469,0.017566,-0.077101
2,-0.039793,-0.090269,1.000000,0.242436,0.141324,0.145448,-0.295853,-0.012976,0.134655,-0.001222,...,0.019109,0.139491,0.163783,0.079027,0.023922,0.177831,-0.056930,0.146472,0.069295,0.017889
3,-0.056714,0.022700,0.242436,1.000000,0.048593,0.042288,0.002647,-0.024510,0.068356,0.081752,...,-0.077653,0.098671,0.103387,-0.000257,-0.061544,-0.011459,-0.068120,0.030834,0.102774,-0.025420
4,-0.244614,-0.096320,0.141324,0.048593,1.000000,0.046641,-0.052977,0.065214,-0.211663,-0.206605,...,-0.004393,0.015869,0.010352,0.040527,-0.197641,-0.067545,0.033929,0.045336,-0.145440,0.070196

In [115]:
cosine_sim_data.loc[0].sort_values(ascending=False).index.tolist()[1:6]

[332, 236, 304, 294, 112]

In [158]:
def get_similar_post(indexes):
    rec_posts = []
    for i in indexes:
        post_index = cosine_sim_data.loc[i].sort_values(ascending=False).index.tolist()[1]  
        rec_posts.append(post_index)
        
    return rec_posts

In [159]:
def recommend(user_id):
    user_rating = pd.Series(df_np[:,user_id])
    top_rated_post = user_rating.sort_values(ascending=False).index.tolist()[0:5]
    rec_post = get_similar_post(top_rated_post)
    print(rec_post)

In [161]:
recommend(4)

[346, 205, 313, 173, 293]